<h1>New Booking</h1>

<%= logger.debug(params.inspect)%>

<%= form_for(@booking) do |booking| %>
<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

    <ul>
      <% @booking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= booking.label :booking_code %><br />
    <%= booking.number_field :booking_code %>
  </div>
  <div class="field">
    <%= booking.label :check_in %><br />
    <%= booking.date_select :check_in %>
  </div>
  <div class="field">
    <%= booking.label :check_out %><br />
    <%= booking.date_select :check_out %>
  </div>

  <h3>Contact details</h3>
  <%= booking.fields_for :contact do |contact_fields| %>
    <div class="field">
      <%= contact_fields.label :name %><br/>
      <%= contact_fields.text_field :name %>
    </div>
    <div class="field">
      <%= contact_fields.label :email %><br/>
      <%= contact_fields.text_field :email %>
    </div>
    <div class="field">
      <%= contact_fields.label :phone %><br/>
      <%= contact_fields.text_field :phone %>
    </div>
  <% end %>

  <!-- only if method=add_room -->
  <% if !@no_of_rooms.blank? %>
    <h2>Room Details</h2>
    <% @no_of_rooms.times do |i|%>
      <h3>Room <%= i+1 %></h3>
      <div class="field">
        <label for="adults">Adult : </label>
        <input id="adults" name="rooms[][adult]" type="number" value="<%= params[:rooms][i][:adult]%>" >
      </div>
      <div class="field">
        <label for="children">Children : </label>
        <input id="children" name="rooms[][children]" type="number" value="<%= params[:rooms][i][:children]%>" >
      </div>
      <div class="field">
        <label for="room_type_id">Room Type : </label>
        <%= select_tag("rooms[][room_type_id]", options_for_select(@room_types.collect {|r| [ r.name, r.id ] } ,  params[:rooms][i][:room_type_id])) %>
      </div>
      <button type="submit" formaction="/bookings/new?method=delete_room&room_id=<%= i %>" >Delete Room</button>
    <% end %>
  <% end%>

  <% if params[:method] == 'add_room' %>
    <h3 id="newroom" >New Room</h3>
    <%= render 'addroom'%>
  <% end %>
  
  <br/> <br/>
  <button type="submit" formaction="/bookings/new?method=add_room#newroom">Add Room</button>

  <br/> <br/>
  <div class="actions">
    <%= booking.submit %>
  </div>
<% end %>