<h1>New Booking</h1>
<script type="text/javascript">
  $( document ).ready(function() {

      $("#add-room").click(function () {
        var room = '<div class="room"> \
                      <div class="field"> \
                        <label for="adults">Adult : </label> \
                        <input id="adults" name="rooms[][adult]" type="number" > \
                      </div> \
                      <div class="field"> \
                        <label for="children">Children : </label> \
                        <input id="children" name="rooms[][children]" type="number" > \
                      </div> \
                      <div class="field"> \
                        <label for="room_type_id">Room Type : </label> \
                        <select id="rooms__room_type_id" name="rooms[][room_type_id]"> \
                          <option value="1">Delux</option> \
                          <option value="4" selected="selected">Standard</option> \
                          <option value="5">Super Delux</option></select> \
                      </div> \
                    </div>'
         
        $(".rooms").append(room) 
        })

  });
  </script>

<%= form_for(@booking) do |booking| %>
<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

    <ul>
      <% @booking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= booking.label :booking_code %><br />
    <%= booking.number_field :booking_code %>
  </div>
  <div class="field">
    <%= booking.label :check_in %><br />
    <%= booking.date_select :check_in %>
  </div>
  <div class="field">
    <%= booking.label :check_out %><br />
    <%= booking.date_select :check_out %>
  </div>

  <h3>Contact details</h3>
  <%= booking.fields_for :contact do |contact_fields| %>
    <div class="field">
      <%= contact_fields.label :name %><br/>
      <%= contact_fields.text_field :name %>
    </div>
    <div class="field">
      <%= contact_fields.label :email %><br/>
      <%= contact_fields.text_field :email %>
    </div>
    <div class="field">
      <%= contact_fields.label :phone %><br/>
      <%= contact_fields.text_field :phone %>
    </div>
  <% end %>

  <div class="rooms">
  </div>

  <button type="button" id="add-room" >Add Room</button>

  <br/> <br/>
  <div class="actions">
    <%= booking.submit %>
  </div>
<% end %>