<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @room_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @room_type.description %>
</p>

<p>
  <b>Room count:</b>
  <%= @room_type.room_count %>
</p>


<%= link_to 'Edit', edit_room_type_path(@room_type) %> |
<%= link_to 'Back', room_types_path %>
